#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
  }
  
  /*     */
  html {  text-align: left; height: 100%; }
  body { height: 100%; }
  #video-viewport { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: -1; }
  video { display: block; width: 100%; height: auto; }
  .fullsize-video-bg { height: 100%; overflow: hidden; }
  
  .fullsize-video-bg .inner { display: table; width: 100%; max-width: 24em; height: 100%; margin: 0 auto; padding: 0; position: relative; z-index: 2; text-shadow: 0 1px 5px rgba(0,0,0,.5); }
  .fullsize-video-bg .inner > div { text-align: center; display: table-cell; vertical-align: middle; padding: 0 2em; }
  h1 { font-family: "Raleway", sans-serif; font-size: 3em; line-height: .9; font-weight: 900; letter-spacing: -.025em; text-transform: uppercase; margin-bottom: .5em; }
  h1 +p { font-family: "Shadows Into Light Two", cursive; font-size: 1.5em;  }
  /* video*/
  
  
  .animate{
  
          margin: 0;
          overflow: hidden;
      }
  
    body {
             
       background-color: black;
          margin: 0;
         
        }
       
      p, li, h2, h4, h5, h6 {
          font-family:   "courier new", "meduim";
          color: rgb(98, 241, 32);
      }
      h3{
        font-family:  "ariel";
        color: rgb(204, 7, 243);      
      }
     
     
      .menu {
        border: solid 2px rgb(47, 255, 92);
        text-align: center;
        background: #374032;
        margin : 20px;
       border-radius: 20px;
    }
       
    
     .entire{
      display : flex;
      gap: 20px;
      margin: 20px

     }

     .right1{
   width: 30%;

   background-color: #324034;
   border: 2px solid greenyellow;
   text-align:  center;
   max-height: 540px;
  border-radius: 20px;
     }

     .left1{
        background: #324034;
        text-align: center;
        border: 2px solid greenyellow; 
        border-radius: 20px;
       width : 33%;
      
     }
     .contleft{

        background: rgb(96, 143, 100);
        text-align: left;
        border: 2px solid rgb(212, 195, 40); 
        border-radius: 20px;
       width : 50%;
      
     }
     

     .center1{
         background: black; 
         border: 20px #88b640;
         
         width: 33%;
        display: flex colomn;

     }
     .contact{
      background:  rgb(121 141 111 / 45%);
      text-align: center;
      border: 2px solid greenyellow; 
      border-radius: 20px;
      margin : 20px;
    
      
     }
     .about{
        background:  rgb(121 141 111 / 45%);
        text-align: center;
        border: 2px solid greenyellow; 
        border-radius: 20px;
       }
      
      
      @media only screen and (max-width: 620px) {
        /* For mobile phones: */
        .menu, .main, .right {
          width: 100%;
        }
      }
   
     
        div#footer {
          border: 2px solid red;
          }
  
      img:hover {
          /* Start the shake animation and make the animation last for 0.5 seconds */
          animation: shake 0.5s;
       
          /* When the animation is finished, start again */
          animation-iteration-count: infinite;
        }
       
        @keyframes shake {
          0% { transform: translate(1px, 1px) rotate(0deg); }
          10% { transform: translate(-1px, -2px) rotate(-1deg); }
          20% { transform: translate(-3px, 0px) rotate(1deg); }
          30% { transform: translate(3px, 2px) rotate(0deg); }
          40% { transform: translate(1px, -1px) rotate(1deg); }
          50% { transform: translate(-1px, 2px) rotate(-1deg); }
          60% { transform: translate(-3px, 1px) rotate(0deg); }
          70% { transform: translate(3px, 1px) rotate(-1deg); }
          80% { transform: translate(-1px, -1px) rotate(1deg); }
          90% { transform: translate(1px, 2px) rotate(0deg); }
          100% { transform: translate(1px, -2px) rotate(-1deg); }
        }
       
  
    #greeting-container {
    margin-top: 20px;
  }
  
    /* backround color and header colors */
  
  
   
     /*--start of food slide css */
     * {box-sizing:border-box}
  
     /* Slideshow container */
     .slideshow-container {
       max-width: 1000px;
       position: relative;
       margin: auto;
       /*float: left;
        width: 20%;
      text-align: center;
       border: solid 2px greenyellow;
       */
       
     }
     
     /* Hide the images by default */
     .mySlides {
      display: none;
    }
     
     
     /* Next & previous buttons */
     .prev, .next {
       cursor: pointer;
       position: absolute;
       top: 50%;
       width: auto;
       margin-top: -22px;
       padding: 16px;
       color: #a5f8f3;
       font-weight: bold;
       font-size: 18px;
       transition: 0.6s ease;
       border-radius: 0 3px 3px 0;
       user-select: none;
     }
     
     /* Position the "next button" to the right */
     .next {
       right: 0;
       border-radius: 3px 0 0 3px;
     }
     .prev {
      left: 0;
      border-radius: 3px 0 0 3px;
    }
   
     
     /* On hover, add a black background color with a little bit see-through */
     .prev:hover, .next:hover {
       background-color: rgba(165, 47, 47, 0.8);
     }
     
     /* Caption text */
     .text {
       color: #95c429fa;
       font-size: 15px;
       padding: 10px 12px;
       position: absolute;
       bottom: 8px;
       width: 100%;
       text-align: center;
     }
     
     /* Number text (1/3 etc) */
     .numbertext {
       color: #ffffff;
       font-size: 12px;
       padding: 8px 12px;
       position: absolute;
       top: 0;
     }
     
     /* The dots/bullets/indicators */
     .dot {
       cursor: pointer;
       height: 10px;
       width: 10px;
       margin: 0 2px;
       background-color: #bbb;
       border-radius: 50%;
       display: inline-block;
       transition: background-color 0.6s ease;
     }
     
     .active, .dot:hover {
       background-color: #717171;
     }
     
     /* Fading animation */
     .fade {
       animation-name: fade;
       animation-duration: 1.5s;
     }
     
     @keyframes fade {
       from {opacity: .4}
       to {opacity: 1}
     }
     /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
  }
    /*--end of food slide css */
  
  /*for blog table */
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  /*for buttons */
  button {
    padding: 3px 18px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #1cfd09;
    background-color:#1a1e19bd ;
    border: none;
    border-radius: 3px;
    box-shadow: 0 9px #999;
  }
 
  button:hover {background-color: #27ed0a7a }
 
    button:active {
      background-color: #31564d;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  
    /* Style the links inside the sidenav */
  #mySidenav a {
      position: absolute; /* Position them relative to the browser window */
      left: -80px; /* Position them outside of the screen */
      transition: 0.3s; /* Add transition on hover */
      padding: 15px; /* 15px padding */
      width: 100px; /* Set a specific width */
      text-decoration: none; /* Remove underline */
      font-size: 20px; /* Increase font size */
      color: white; /* White text color */
      border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    }
   
    #mySidenav a:hover {
      left: 0; /* On mouse-over, make the elements appear as they should */
    }
   
    /* The about link: 20px from the top with a green background */
    #about {
      top: 20px;
      background-color: #4dc060;
    }
   
    #blog {
      top: 80px;
      background-color: #2196F3; /* Blue */
    }
   
    #projects {
      top: 140px;
      background-color: #f44336; /* Red */
    }
   
    #contact {
      top: 200px;
      background-color: #555 /* Light Black */
    }  
    #text0 {
      width: 500px;
      height: 125px;
    }
  
    #languageP {
      display: block;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  